*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

h1{
    font-size: 2.5em;
    text-align: center;
    text-decoration: underline;
    color: cadetblue;
}
.essais{
    margin: auto;
}
.try{
    text-align: center;
    margin-top: 50px;
    font-size: 2em;
}
.game .img{
    width: 700px;
    height: 600px;
    border: 10px dashed black;
    margin: auto;

}

#imagesPendu{
    height: 500px;
    width: 500px;
    overflow: hidden;
}
.game p{
    text-align: center;
}

.game .button{
    text-align: center;
}
#keyboard{
    margin: 20px auto;
    padding: 0 15px;
    font-size: 2em;
    text-align: center;

}
.btn{
    text-align: center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 25px;
}
.btn .reset{
    text-align: center;
    margin: auto;
}
.btn:focus{
    color: green;
}